  
<h3>Cart</h3>

<!-- Agregue un enlace de la CartComponentvista a la ShippingComponent vista. -->
<p>
  <a routerLink="/shipping">Shipping Prices</a>
</p>

<!-- En la formetiqueta, use un ngSubmit enlace de evento para escuchar el envío del 
formulario y llamar al onSubmit()método con el checkoutFormvalor. -->
<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
    
    <div>
        <label for="name">
          Name
        </label>
        <input id="name" type="text" formControlName="name">
      </div>
    
      <div>
        <label for="address">
          Address
        </label>
        <input id="address" type="text" formControlName="address">
      </div>

      <div class="example-button-row">
        <button mat-raised-button color="primary" type="submit">Purchase - Clear</button>
      <!--  <button class="button" type="submit">Purchase - Clear</button> -->
      </div>

  </form>
 
  <div class="cart-item" *ngFor="let item of items">
    <span>{{ item.name }}</span>
    <span>{{ item.price | currency }}</span>
  </div>
